* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

:root{
    --blue: #05A6F0;
}

.icon, .white-icon{
    height: 25px;
    width: 25px;
}

.image{
    height: 40px;
    width: auto;
}

/* -----------------------main container----------------- */

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}

/* ------------------------Sidebar---------------------- */

.sidebar{
    grid-row:1/3;
    background-color: var(--blue);
}

.dash-container{
    display: grid;
    grid-template-rows: 1fr 2.8fr 4fr;
}

.dash-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2rem;
    filter: invert(100%);
}

.user-profile, .user-setting{
    filter: invert(100%);
    padding-left: 3rem;
    margin-bottom: 4rem;
}

.user-profile ul, .user-setting ul{
    display: grid;
    gap: 20px;
}

.user-profile ul li, .user-setting ul li{
    display: flex;
    align-items: center;
    gap: 30px;
}

ul li{
    list-style-type: none;
}

/* ------------------------Header---------------------- */

.header{
    background-color: white;
    display: grid;
    grid-template-columns: minmax(500px,2fr) minmax(250px,1fr);
}

.header-right-user, .header-buttons{
    justify-content:center;
    display:flex;
    gap: 2rem;
    align-items: center;
}

.header-left, .search-bar{
    display:grid;
    align-items:center;
    justify-content: left;
    padding-left: 3rem;
    grid-template-columns: 100px minmax(100px,1fr);
}

.search-bar{
    grid-template-columns: 50px minmax(100px,1fr);
}

.header-left{
    padding-top: 1rem;
    grid-template-rows: repeat(2,2rem);
}

.header-left > .image{
    grid-row:1/3;
    height: 4rem;
}

.bar{
    padding-left: 2rem;
    height: 2rem;
    border-radius: 2rem; 
    background-color:rgb(225, 229, 236);   
    border: none;
}

.header-buttons > button{
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    color:white;
    font-weight: bold;
    width: 5rem;
    height: 2rem;
}

/* ------------------------Articles---------------------- */

.content{
    grid-column: 2/3;
    grid-row: 2/6;
    background-color: rgb(233, 236, 243);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 20px;
    padding-bottom: 100px;
    padding-right: 30px;
}

.content-child{
    padding-left: 15px;
    padding-top: 30px;
}

/* ------------------------Main Article Cards---------------------- */

.content-child:first-child{
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 30px 1fr;
}

.content-title{
    font-weight: bold;
}

.content-child:first-child > .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap: 30px;
}

.content-child:first-child > .card-container> .card{
    padding-left: 25px;
    padding-top: 25px;
    background-color: white;
    border-radius: 8px;
    border-left: rgb(218, 153, 13) solid;
    border-width: 8px;
}

.description{
    color: rgb(105, 105, 105);
}

h4{
    padding-bottom: 4px;
}

/* ------------------------Announcements---------------------- */

.content-child:nth-child(2){
    display: grid;
    grid-template-rows: 30px 1fr;
}

.content-child:nth-child(2) > .card-container{
    padding:40px;
    background-color: white;
    display: grid;
    gap: 30px;
    border-radius: 8px;
}

.content-child:nth-child(2) > .card-container > .card:nth-child(-n +2) {
    padding-bottom: 20px;
    border-bottom: 1px rgb(194, 188, 188) solid;
}

/* ------------------------Trending---------------------- */

.content-child:last-child{
    display: grid;
    grid-template-rows: 30px 1fr;
}

.content-child:last-child > .card-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: white;
    border-radius: 8px;
    padding:40px;
    gap: 30px;
}
