* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

:root{
    --blue: #05A6F0;
    --grey: #E9ECF3;
    --yellow: #DA990D;
}

/* -----------------------main container----------------- */

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
}

/* ------------------------Sidebar---------------------- */

.sidebar{
    grid-row:1/3;
    background-color: var(--blue);
}

.dash-container{
    display: grid;
}

.dash-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    filter: invert(100%);
}

.user-profile, .user-setting{
    filter: invert(100%);
    padding-left: 3rem;
}

.user-profile{
    margin-bottom: 4rem;
}

.user-profile ul, .user-setting ul{
    display: grid;
    gap: 1.5rem;
}

.user-profile ul li, .user-setting ul li{
    display: flex;
    align-items: center;
    gap: 2rem;
}

ul li{
    list-style-type: none;
}

/* ------------------------Header---------------------- */

.header{
    background-color: white;
    display: grid;
    grid-template-columns: minmax(500px,2fr) minmax(250px,1fr);
    padding:1rem;
    gap: 2rem;
}

.header-right-user, .header-buttons{
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 2rem; 
}

.search-bar{
    display:grid;
    grid-template-columns: 50px minmax(100px,1fr);
}

.search-bar,.header-left{
    align-items:center;
    justify-content: left;
    padding-left: 3rem;
}

.header-left{
    display: flex;
    gap:1rem;
}


.bar{
    padding-left: 2rem;
    height: 2rem;
    border-radius: 2rem; 
    background-color: var(--grey);   
    border: none;
}

.header-buttons > button{
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    color:white;
    font-weight: bold;
    width: 5rem;
    height: 2rem;
}

/* ------------------------Articles---------------------- */

.content{
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 20px;
    padding-bottom: 4rem;
    padding-right: 2rem;
}

.content-child{
    padding-left: 2rem;
    padding-top: 3rem;
}

/* ------------------------Main Article Cards---------------------- */

.content-child:first-child{
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 2rem 1fr;
}

.content-child:first-child > .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 30px;
}

.content-child:first-child > .card-container> .card{
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 1rem;
    background-color: white;
    border-radius: 8px;
    border-left: var(--yellow) solid;
    border-width: 8px;
    display: grid;
    grid-template-rows: 1fr 3rem;
}

.notify{
    display: flex;
    justify-content: end;
    gap: 1.5rem;
}

.description{
    color: rgb(105, 105, 105);
}

h4{
    padding-bottom: 4px;
}

/* ------------------------Announcements---------------------- */

.content-child:nth-child(2){
    display: grid;
    grid-template-rows: 30px 1fr;
}

.content-child:nth-child(2) > .card-container{
    padding:40px;
    background-color: white;
    display: grid;
    gap: 30px;
    border-radius: 8px;
}

.content-child:nth-child(2) > .card-container > .card:nth-child(-n +2) {
    padding-bottom: 20px;
    border-bottom: 1px rgb(194, 188, 188) solid;
}

/* ------------------------Trending---------------------- */

.content-child:last-child{
    display: grid;
    grid-template-rows: 30px 1fr;
}

.content-child:last-child > .card-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: white;
    border-radius: 8px;
    padding:2.5rem;
    gap: 30px;
}

/*----------------------- Images and Icons --------------------*/

.icon, .white-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.image{
    height: 3rem;
}

.header-left > .image{
    height: 3rem;
}

.notify > .icon:last-child{
    transform: rotate(-90deg);
}
